.calendar__wrapper {
  min-height: calc(100vh - 64px);

  .rbc-calendar {
    height: calc(100vh - 64px);
    margin: auto;
    padding: 0;
    width: 97%;
  }

  .rbc-toolbar {
    padding: 1em 0;
  }

  .rbc-time-content > .rbc-time-gutter {
    justify-content: flex-end;
    width: 56px;
  }

  .rbc-label {
    font-size: 12px;
  }
  
  .rbc-time-slot {
    text-align: right;
    margin-top: 5px;
  }
}