.btn-primary.MuiButton-containedPrimary {
  background: $secondary;

  &:hover {
    background: lighten($color: $secondary, $amount: 5);
  }
}

.btn-new.MuiFab-root {
  position: fixed;
  bottom: 1em;
  right: 1.5em;
  background: #F50057;

  &:hover {
    background: lighten($color: #F50057, $amount: 10);
  }
}